*~
.idea
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/AboutDialog.ui
data/Makefile
data/Makefile.in
depcomp
install-sh
libtool
ltmain.sh
m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
py-compile
src/Makefile
src/Makefile.in
stamp-h1
gnome-gamepads
po/gnome-gamepads.pot
data/gnome-gamepads.appdata.xml
data/gnome-gamepads.desktop
data/gschemas.compiled
data/org.gnome.Gamepads.gschema.valid
data/org.gnome.Gamepads.gschema.xml
po/.intltool-merge-cache
src/__pycache__/
